<app-secure [breadcrumbs]="['Students']" title="Students" [extra]="extraTemplate">
  <nz-list
    [nzDataSource]="students"
    [nzItemLayout]="'horizontal'"
    [nzLoading]="isLoading"
    [nzRenderItem]="student">
    <ng-template #student let-student>
      <nz-list-item>
        <nz-list-item-meta
          [nzAvatar]="nzAvatar"
          [nzTitle]="nzTitle"
          [nzDescription]="student.mailAddress">
          <ng-template #nzTitle>
            <a [routerLink]="['/','students', student.id]">{{ student.firstName + ' ' + student.lastName }}</a>
          </ng-template>
          <ng-template #nzAvatar>
            <nz-avatar [nzText]="getAvatarText(student.id)" nzSize="large" [ngStyle]="{'background-color':'#1890ff'}"
                       style="vertical-align: middle;"></nz-avatar>
          </ng-template>
        </nz-list-item-meta>
      </nz-list-item>
    </ng-template>
  </nz-list>
</app-secure>

<ng-template #extraTemplate>
  <a (click)="openCreateStudentModal()">Add Student</a>
</ng-template>

<nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom':'53px' }"
           [nzMaskClosable]="false" [nzWidth]="400" [nzVisible]="createStudentModalVisible" nzTitle="Create Student"
           (nzOnClose)="closeCreateStudentModal()">
  <form nz-form>
    <nz-form-item>
      <nz-form-label>First Name</nz-form-label>
      <nz-form-control>
        <input nz-input [(ngModel)]="newStudent.firstName" (ngModelChange)="onValueChange()"
               name="firstName" placeholder="Please enter the student's first name">
      </nz-form-control>
      <nz-form-explain *ngIf="inputError && !newStudent.firstName?.length">
        Please input the student's first name!
      </nz-form-explain>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>Last Name</nz-form-label>
      <nz-form-control>
        <input nz-input [(ngModel)]="newStudent.lastName" (ngModelChange)="onValueChange()"
               name="lastName" placeholder="Please enter the student's last name">
      </nz-form-control>
      <nz-form-explain *ngIf="inputError && !newStudent.lastName?.length">
        Please input the student's last name!
      </nz-form-explain>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>Mail address</nz-form-label>
      <nz-form-control>
        <input type="text" nz-input [(ngModel)]="newStudent.mail" (ngModelChange)="onValueChange()"
               name="studentMail" placeholder="Please enter the student's mail address">
      </nz-form-control>
      <nz-form-explain *ngIf="inputError && !newStudent.mail?.length">
        Please input a student mail address!
      </nz-form-explain>
    </nz-form-item>
  </form>
  <div class="modalFooter">
    <button type="button" (click)="closeCreateStudentModal()" class="ant-btn" style="margin-right: 8px;">
      <span>Cancel</span></button>
    <button type="button" (click)="submitCreateStudent()" class="ant-btn ant-btn-primary"><span>Create Student</span>
    </button>
  </div>
</nz-drawer>
