<div>
  <h2>Small Educator</h2>
  <nz-card nz-form style="width:350px;">
    <nz-card-tab>
      <nz-tabset>
        <nz-tab nzTitle="Student">
          <ng-template nz-tab>
            <app-student-login></app-student-login>
          </ng-template>
        </nz-tab>
        <nz-tab nzTitle="Teacher">
          <ng-template nz-tab>
            <app-teacher-login></app-teacher-login>
          </ng-template>
        </nz-tab>
      </nz-tabset>
    </nz-card-tab>
    <!--<nz-card-tab>-->
    <!--<nz-tabset [(nzSelectedIndex)]="openedTabIndex">-->
    <!--<nz-tab nzTitle="Student"></nz-tab>-->
    <!--<nz-tab nzTitle="Teacher"></nz-tab>-->
    <!--</nz-tabset>-->
    <!--</nz-card-tab>-->
    <!---->

  </nz-card>
</div>
